<app-header></app-header>
<!-- header end -->
<!-- cart-main-area start -->
<div class="cart-main-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active">Shopping Cart</li>
            <li class="active">Address</li>
            <li class="active">Payment Method</li>
            <li>Payment</li>
          </ul>
          <!-- fieldsets -->
          <fieldset>
            <div class="col-sm-6 col-sm-offset-3">
              <div class="">
                <h2 class="fs-title">Payment Methods</h2>
                <div class="row">
                  <div class="login-content" style="text-align: left;">
                    <div class="checkbox-form">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="payment-method">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Saved Cards
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <p>Kotak Debit Card</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Credit/Debit Card
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                  <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Cash On Delivery
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                  <div class="panel-body">
                                    <p>Test</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="order-button-payment">
                              <button id="uprofilebtn" name="next" class="action-button btn btn-default btn-block" type="button">Proceed</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- cart-main-area end -->
<!-- footer start -->
<app-footer></app-footer>