<app-header></app-header>
<!-- header end -->
<!-- login-area start -->
<div class="login-area" style="padding: 40px 0;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="user_orders user_order_detail">
          <div class="orders_heading">
            <a routerLink="/product-detail" class="o_num btn">OD4079106322853010</a>
          </div>
          <div class="orders_body">
            <a routerLink="/product-detail" class="order_img"><img src="assets/img/cart/2.jpg" /></a>
            <div class="order_details">
              <h5>eberjey</h5>
              <h3><a routerLink="/product-detail">Dab Marshmello full sleeve t-shirt</a></h3>
              <!--div class="price">
                <span>$ 80</span>
                <span class="old"> $ 120</span>
                </div-->
              <ul class="order_spec">
                <li>
                  <h6>Color : <strong>Grey</strong> </h6>
                </li>
                <li>
                  <h6>Size : <strong>S</strong></h6>
                </li>
                <li>
                  <h6>Qty :  <strong>1</strong></h6>
                </li>
              </ul>
              <!--div class="button-cart">
                <button class="btn"><i class="fa fa-check"></i> Delivered</button>
                </div-->
            </div>
            <div class="order_status">
              <h5>Delivered on Sat, Aug 18th '18<br>
                <small>Your item has been delivered</small>
              </h5>
            </div>
            <div class="order_price">
              <h4>$ 129</h4>
            </div>
          </div>
          <div class="orders_footer">
            <ol class="progtrckr" data-progtrckr-steps="5">
              <li class="progtrckr-done">Order Processing</li>
              <li class="progtrckr-done">Pre-Production</li>
              <li class="progtrckr-done">In Production</li>
              <li class="progtrckr-todo">Shipped</li>
              <li class="progtrckr-todo">Delivered</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- login-area end -->
<!-- footer start -->
<app-footer></app-footer>